<h3>Products</h3>

<div ng-hide="ctrl.is_products">
	<p>
		You have no products
	</p>
</div>

<div ng-show="ctrl.is_products">
	<table class="products-list table">
		<tr>
			<th>Category</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="product in ctrl.products">
			<td>{{product.category}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.quantity}}</td>
			<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
		</tr>
	</table>
</div>