<h3 class="admin-product">Orders</h3>

<div ng-hide="ctrl.is_products">
	<p>
		You have no orders
	</p>
</div>
<div ng-show="ctrl.is_products">
	<table class="products-list table">
		<tr>
			<th>OrderID</th>
			<th>ProductID</th>
			<th>Name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		
			
		<tr ng-repeat="item in ctrl.orders[0].cart">
			<td>1</td>
			<td>{{item.product.id}}</td>
			<td>{{item.product.name}}</td>
			<td>{{item.product.category}}</td>
			<td>{{item.product.price | currency}}</td>
			<td>{{item.quantity}}</td>
		</tr>
			
		
	</table>

