<nav>
	<div class="content-wrapper">
		<ul class="left-nav">
			<li ng-click="ctrl.shop()"><img src="../../assets/img/new-logo.png" class="img-responsive logo-image"></li>
		</ul>
		<ul class="right-nav">
			<li ng-click='ctrl.cart()'><i class="fa fa-shopping-cart"></i><span class="cart" ng-click='ctrl.cart()'>Cart</span></li>
		</ul>
	</div>
</nav>

<section class="top-content girls" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<!-- <div class="content">		
					<h1>
						Girls Clothing Page!!
					</h1> -->
					<!-- <h3>
						Buy and Sell used fashion items from virtually anywhere.
					</h3> -->

					<!-- <div class="">
						<form> -->
							<!-- TO DO #3: ENABLE PRODUCT SEARCH -->
							<!-- <div class="form-container">
								<input type="text" class="form-control"  placeholder="Search for a brand or item" ng-model='ctrl.search'>
								<a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
							</div>
						</form>
					</div> -->
				<!-- </div> -->
			</div>
		</div>
	</div>
</section>

<div id="product-details">
	<h1 class="text-center">{{ctrl.product.name}}</h1>
		<div class="row">
			<div class="col-xs-5">
			<img src="{{ctrl.product.image}}" class="product-image">
			</div>
		<div class="col-xs-7">
			<table class="table">
				<tr>
					<td>Description:</td>
					<td>{{ctrl.product.description}}</td>
				</tr>
				<tr>
					<td>Price:</td>
					<td>{{ctrl.product.price | currency}}</td>
				</tr>
				<tr>
					<td>Quantity:</td>
					<td>{{ctrl.product.quantity}}</td>
				</tr>
			</table>
		</div>

	<div class="row">
			<div class="button">
				<select class="select" ng-model="ctrl.selected" ng-options="quantity as quantity for quantity in ctrl.Quantity"></select>
				<button type="button" ng-click="ctrl.addToCartDetail(ctrl.product, ctrl.selected)" class="btn btn-warning">Add to Cart</button>
				<button type="button" ng-click="ctrl.changePage()" class="btn btn-warning">Back</button>
			</div>
	</div>
</div>