<nav>
	<div class="content-wrapper">
		<ul class="left-nav">
			<li><img src="assets/img/logo.png"></li>
		</ul>
		<ul class="right-nav list-inline">
			<li ng-click='ctrl.cart()'><i class="fa fa-shopping-cart"></i><span class="cart">Cart</span></li>
			<li ng-click="ctrl.login()"><i class="fa fa-user"></i><span class="cart">Log-In</span></li>
		</ul>
	</div>
</nav>

<section class="top-content" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">		
					<h1>
						Kona Wind
						  
					</h1>
					<h3>
						Clothing & Gear For Surfing Kahuna's  
					</h3>

					<div class="">
						<form>
							<!-- TO DO #3: ENABLE PRODUCT SEARCH -->
							<div class="form-container">
								<input type="text" class="form-control"  placeholder="Search for a brand or item" ng-model='ctrl.search'>
								<a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="container">

	<div class="row">
	<div class="col-md-4 col-sm-4">
		<div class="gear main-image">

			<button type="button" class="btn btn-info ryan" ng-click="ctrl.gearpage()">Shop Now</button>
			<p class="words">Gear</p>
		</div>
	</div> 
	
		<div class="col-md-4 col-sm-4">
		<div class="lc main-image">
			
			<button type="button" class="btn btn-info ryan" ng-click="ctrl.womenpage()">Shop Now</button>
			<p class="words">Ladies Clothing</p>
		</div>
	</div>
	
	<div class="col-md-4 col-sm-4">
		<div class="gc main-image">
			
			<button type="button" class="btn btn-info ryan" ng-click="ctrl.menpage()">Shop Now</button>
			<p class="words">Guys Clothing</p>
		</div>
	</div>
	</div>
<!-- <div class="row2">
<div class="col-md-3 col-sm-6">
	<img src="http://img.surfing-waves.com/shop/media/images/ind-womens-surf-clothing.jpg" class="image2">
		<button type="button" class="btn btn-info">Shop Now</button>
		<p class="caption">Clothing</p>
</div> -->
	
	

</section>


<!-- <section class="secondary-nav" role="sub-nav">
	<div class="content-wrapper"> -->
		<!-- TO DO #3: SET CATEGORY SEARCH AND SET FOCUS CLASS-->
		<!-- <ul class="product-nav">
			<li ><a>All</a></li>
			<li ><a>Surf</a></li>
			<li ><a>Boardshorts</a></li>
			<li ><a>Accessories</a></li>
		</ul>
	</div>
</section> -->

<!-- <section class="product-view" role="product-view">
	<div class="content-wrapper">
		<div class="row"> -->
			<!-- TODO #3: SHOW PRODUCTS -->
			<!-- <div class="col-xs-12 col-sm-3" ng-repeat='item in ctrl.products | filter: ctrl.search'>
				<div id="product-card" class="product-card" >
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<i class="fa fa-shopping-cart" ng-click='ctrl.addToCart(item)'></i>
							</div>
						</div>
					</div> -->
					<!-- SET PRODUCT IMAGE -->
					<!-- <div class="product-img" style="background-size:cover;background-position:center center"
						ng-style='{"background-image": "url({{item.image}})"}'>

					</div>

					<div class="product-info">

						<div class="product-name" ng-bind='item.name'>
					}
					}
 -->
						<div class="product-name" ng-bind='item.name'>

							<!-- SET PRODUCT NAME -->
						
							
							
						<!-- </div>
						<div class="product-brand"  ng-bind='item.description'> -->
							<!-- SET PRODUCT Description -->
							<!-- <em></em>
						</div>
						<div class="product-cost"  ng-bind='item.price | currency'> -->
							<!-- SET PRODUCT PRICE WITH FILTER -->
<!-- 						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<section>
