<nav>
	<div class="content-wrapper">
		<ul class="left-nav">
			<li><img src="assets/img/logo.png"></li>
		</ul>
		<ul class="right-nav">
			<li><i class="fa fa-shopping-cart"></i><span class="cart">Cart</span></li>
		</ul>
	</div>
</nav>

<section class="top-content" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">		
					<h1>
						Manage Your Closet.
					</h1>
					<h3>
						Buy and Sell used fashion items from virtually anywhere.
					</h3>

					<div class="">
						<form>
							<!-- TO DO #3: ENABLE PRODUCT SEARCH -->
							<div class="form-container">
								<input type="text" class="form-control"  placeholder="Search for a brand or item" >
								<a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="secondary-nav" role="sub-nav">
	<div class="content-wrapper">
		<!-- TO DO #3: SET CATEGORY SEARCH AND SET FOCUS CLASS-->
		<ul class="product-nav">
			<li ><a>All</a></li>
			<li ><a>Shoes</a></li>
			<li ><a>Shirts</a></li>
			<li ><a>Pants</a></li>
			<li ><a>Outerwear</a></li>
			<li ><a>Accessories</a></li>
		</ul>
	</div>
</section>


<section class="product-view" role="product-view">
	<div class="content-wrapper">
		<div class="row">
			<!-- TODO #3: SHOW PRODUCTS -->
			<div class="col-xs-12 col-sm-3">
				<div id="product-card" class="product-card">
					<div class="product-buy">
						<div class="table-view">
							<div class="table-cell">
								<i class="fa fa-shopping-cart"></i>
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div class="product-img" style="background:url('/assets/img/');background-size:cover;background-position:center center">
					</div>

					<div class="product-info">
						<div class="product-name">
							<!-- SET PRODUCT NAME -->
							
							
						</div>
						<div class="product-brand">
							<!-- SET PRODUCT Description -->
							<em></em>
						</div>
						<div class="product-cost">
							<!-- SET PRODUCT PRICE WITH FILTER -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<section>