@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic);

html,body{
	margin:0;
	height:100%;
}

body{
	color:#666;
	font-size:100%;
}


.row div {
background-color: #7cace3;
margin-bottom: 25px;
}

.gear {
	background-image:url("http://picalls.com/wp-content/uploads/2015/02/Surfboard-on-the-beach.jpg");
	background-size: cover;
}

.lc {
	background-image:url("http://i.huffpost.com/gen/1647273/images/o-WOMAN-SURFING-facebook.jpg");
	background-size: cover;

}

.gc {
	background-image:url("http://images.shopmadeinchina.com/C0C22F20D142C61BE040007F0100076D/786/8979786_10/2012-Australian-Men-s-surf-shorts-beach-shorts_8979786_10.bak.jpg");
	background-size: cover;
	
}

.all {
	background-image:url("https://pixabay.com/static/uploads/photo/2015/11/07/11/01/surf-board-1030739_960_720.jpg");
	background-size: cover;



	
}

.main-image{
	height:300px;
	width:400px;
	padding:10%;
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
	align-items: center;

}

.ryan {
	display:block;
	margin:auto;
	/*left:50px;*/
	margin-top: 150px;
	color: white;
	background-color: black;
	border:none;

}
.words {
	font-size: 32px;
	color:black;
	margin: auto;
	font-style: utopia;

}


/*
Globals
*/
.wrapper{
	height:80%;
	background-color: #7cace3;
}
.content-wrapper{
	max-width:82.5em;
	margin:0 auto;
	height:100%;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}
.table-view{
	display: table;
	height:100%;
	width:100%;
}

.table-cell{
	display:table-cell;
	height:100%;
	vertical-align: middle;
	width:100%;

}

a{
	text-decoration: none;
	color:#333;
}

/*
Nav
*/

nav{
	width: 100%;
	height:55px;
	line-height:55px;
	background-color: rgba(255,255,255,0.5);
	color: black;
	border-bottom:1px solid #d8d8d8;
	z-index: 10000;	
	/*box-shadow: 0 4px 2px -2px #d8d8d8;*/
}

nav .left-nav{
	float:left;
	margin: 0;
	vertical-align: top;

}

nav .right-nav{
	float: right;
	margin:0px
	vertical-align: top;
}

nav .fa-shopping-cart {
	margin-right:10px;
	font-size:2rem;
	z-index: 99999;
}

nav .fa-user {
	margin-right:10px;
	margin-left:20px;
	font-size:2rem;
}
nav .cart{
	font-size:1.6rem;
}

nav .fa {
	width: 100%;
	display: inline;
	color: black;
}

nav .logo-image {
	height: 50px;
}
/*
Top-content
*/
.top-content{
	width:100%;
	height:calc(70%);
	background:url('../img/main_page_banner.jpg');
	background-size:cover;
	background-position:center center;
	text-align: center;
}

.gear2 {
	width: 100%;
	height: 350px;
	background:url('https://img.grouponcdn.com/deal/c9fDzn6bb6eeddECU9eG/WQ-2048x1229/v1/c700x420.jpg');
	background-size:cover;
	background-position:center center;
	margin: 0 auto;
}

.girls {
	width: 100%;
	height:calc(80% - 100px);
	background:url("https://i.ytimg.com/vi/IleF72M8wQQ/maxresdefault.jpg");
	background-size:cover;
	background-position:center center;
	margin: 0 auto;

}

.guys {
	width: 100%;
	height:400px;
	background:url('http://www.singlesurfers.net/content/wp-content/uploads/2015/06/20-reasons-to-date-a-surfer.jpg');
	background-size:cover;
	background-position:center center;
	margin: 0 auto;
}



/*Jumbotron text colors */


.top-content h1{
	font-size: 50rem;
	/*margin-bottom: 320px;*/
	margin-top: 20px;
	color: rgb(255,85,33);
	font-weight:200 !important;
	font-family: Papyrus, fantasy;
	font-size: 170px;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;


}

h3{
	margin-top:180px;
	letter-spacing:0.05rem;
	font-weight:150;
	font-size: 40px;
	color: #FF5521 !important;
	font-family: Papyrus, fantasy;
}

.Womenbanner {
	text-align: center;
}

.top-content .content{
	margin:0 auto;
}

.top-content form{
	position: relative;
	width:38rem;
	margin:45px auto;
}
.top-content form input{
	height:40px;
	display: inline-block;
}

.top-content .search-btn{
	position: absolute;
	background:black;
	height:40px;
	width:40px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	vertical-align: middle;
	top:0px;
	right:0px;

}
.top-content .search-btn img{
	width:18px;
	margin-top:11px;
}

.words {
	text-align: right;
	padding-right: 300px;
	color: lightgrey;
	font-size: 0.
}



/*
Sub Nav
*/
.secondary-nav{
	height:55px;
	line-height:55px;
}
.product-nav ul{
	font-size:0;
}
.product-nav li{
	width:16%;
	text-align:center;
	display: inline-block;
	font-size:1.5rem;
	font-weight:200;
}
.product-nav li a:hover{
	color:black;
	border:none;
	font-weight:400;
	cursor:pointer;
	cursor:hand;
	text-decoration: none;
}
.product-nav li.focus > a{
	
	color:#ff5521;
	font-weight:400;
	border-bottom:2px solid black;
	padding:4px 6px;
}


/*
Product view
*/
.product-display {
	margin: 0px 15px;
}

.product-view{
	background: whitesmoke;
	padding:20px 0px;
	margin: 0px 15px;
}

.bannerheader {
	font-family: 'Avant Garde', sans-serif;
	color: black;
	text-align: center;
}

.product-view .product-card{
	width:100%;
	background:white;
	font-size:1.5rem;
	text-align:center;
	position: relative;
	margin: 15px;
}

#product-card .product-buy{
	position: absolute;
	background-color: #000000;
	border-radius:100%;
	color: #ff6d37;
	height:30px;
	width:30px;
	top:10px;
	right:10px;
}

#product-card .product-buy:hover .fa{
	color:black;
	cursor: pointer;
	cursor:hand;
}
#product-card .product-img{
	width:100%;
	height:200px;
}

#product-card .product-info{
	padding:10px 0px;
	letter-spacing: 0.05rem;
}

#product-card .product-name{
	font-weight:600;
}

#product-card .product-brand{
	font-style:italic;
	font-weight:200;
	font-size:1.2rem;
}

#product-card .product-cost{
	color:#ff6d37;
	font-weight:500;
	margin:10px 0px;
}


.searchbutton {
	border-radius: 12%;
	border: solid 1px white;
	border-color: white;
	margin-left: 10px;
	height: 30px;
}


.button {
	text-align: center;
}

.product-image {
	max-height: 400px;
  	max-width: 350px;
  	margin: 0px 100px;
  }

.searchresult {
	padding-left: 100px;
	padding-bottom: 50px;
	font-family: 'Tahoma', 'sans-serif'!important;
	color: #3F3C3A !important;

}

/*RESPONSIVE VIDEO */

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 50px;

}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.select{
   background: #f0ad4e;
   border-color: #eea236;
   color: white;
   width: 100px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   border: 2px;
   border-radius: 10px;
   height: 34px;
   display: inline-block;
   vertical-align: middle;
   }

.text-center {
	padding: 0px;
	margin: 30px 0px 50px 0px;
}

#product-details {
	background-color: #7cace3;
}

.button {
	margin-top: 250px;
}

/*Bottom content*/

.bott-content{
	margin-top: 150px;
	width:100%;
	height:400px;
	margin-bottom: 500px;
	background:url('http://img.huffingtonpost.com/asset/2000_1000/575211dd1200002e008955e7.jpeg?cache=evn1jfapnz');
	background-position:center center;
	text-align: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	z-index: 9999;
}

.black {
	background-color: transparent;
	border-color: transparent;
	color: #655D52;
	margin-bottom: 85px;
	border: 1px;
}
