@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic);

html,body{
	margin:0;
	height:100%;
}

body{
	color:#666;
	font-size:100%;
}
.fixed {
	position: fixed;
	z-index: 1000;
	background-color: #FFFFFF;
}

.main-image{
	height:300px;
	width:400px;
	padding:10%;
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
	align-items: center;

}

.ryan {
	display:block;
	margin:auto;
	opacity: 0.5;
	margin-top: 30%;
	width: 150px;
	color: white;
	background-color: black;
	border:none;

}
.words {
	font-size: 32px;
	color:black;
	margin: auto;
	font-style: utopia;
}

.ng-toast.ng-toast--top, .ng-toast.ng-toast--top .ng-toast__list{
	position: fixed;
	bottom: 5%;
	right: 3%;
	top: auto;
	background-color: none;
	border-color: transparent;
}

.pop-up-window {
	background-color: #f1f1f1;
	/*position: fixed;*/
	padding: 10px 20px;
	/*bottom: 5%;
	right: 3%;*/
	border-radius: 10px;
}

/*
Globals
*/
.wrapper{
	height:100%;

}
.content-wrapper{
	max-width:82.5em;
	margin:0 auto;
	height:100%;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}
.table-view{
	display: table;
	height:100%;
	width:100%;
}

.table-cell{
	display:table-cell;
	height:100%;
	vertical-align: middle;
	width:100%;

}

a{
	text-decoration: none;
	color:#333;
}

/*
Nav
*/

nav{
	width: 100%;
	height:55px;
	line-height:55px;
	background-color: rgba(255,255,255,0.5);
	color: black;
	border-bottom:1px solid #d8d8d8;
	z-index: 10000;	
	/*box-shadow: 0 4px 2px -2px #d8d8d8;*/
}

nav .left-nav{
	float:left;
	margin-left: 10%;
	vertical-align: top;
	list-style: none;

}

nav .right-nav{
	float: right;
	margin-right: 10%;
	vertical-align: top;
}
nav .right-nav li:hover {
	background-color: #f1f1f1;
	height: 55px;
}
nav .right-nav .searchbtn:hover {
	background-color: rgba(255,255,255,0.5);
	height: 50px;
}
/* Dropdown Content (Hidden by Default) */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
nav .dropdown-content li {
    color: black;
    padding-left: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
nav .dropdown-content li:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
nav .dropdown:hover .dropdown-content {
    display: block;
}
nav .fa-shopping-cart {
	margin-right:10px;
	font-size:2rem;
	z-index: 99999;
}

nav .fa-user {
	margin-right:10px;
	margin-left:20px;
	font-size:2rem;
}
nav .cart{
	font-size:1.6rem;
}

nav .fa {
	width: 100%;
	display: inline;
	color: black;
}

nav .logo-image {
	height: 50px;
}
.ordered {
	margin-top: 0;
	font-size: 14px;
}
.cart-count {
	display: inline-block;
	position: inherit;
	margin-right: 10px;
}
/*
Top-content
*/
.top-content{
	width:100%;
	height:calc(80%);
	background:url('http://wallpapercave.com/wp/Mz7LPNJ.jpg');
	background-size:cover;
	background-position:center center;
	text-align: center;
	background-attachment: fixed;
}

.gear2 {
	width: 100%;
	height: 350px;
	background:url('https://img.grouponcdn.com/deal/c9fDzn6bb6eeddECU9eG/WQ-2048x1229/v1/c700x420.jpg');
	background-size:cover;
	background-position:center center;
	margin: 0 auto;
}

.girls {
	width: 100%;
	height:calc(80% - 100px);
	background:url("https://i.ytimg.com/vi/IleF72M8wQQ/maxresdefault.jpg");
	background-size:cover;
	background-position:center center;
	margin: 0 auto;

}

.guys {
	width: 100%;
	height:400px;
	background:url('http://www.singlesurfers.net/content/wp-content/uploads/2015/06/20-reasons-to-date-a-surfer.jpg');
	background-size:cover;
	background-position:center center;
	margin: 0 auto;
}



/*Jumbotron text colors */
h3{
	margin-top:180px;
	letter-spacing:0.05rem;
	font-weight:150;
	font-size: 40px;
	color: #FF5521 !important;
	font-family: Papyrus, fantasy;
}

.Womenbanner {
	text-align: center;
}

.top-content .content{
	margin:0 auto;
}

.top-content form{
	position: relative;
	width:38rem;
	margin:45px auto;
}
.top-content form input{
	height:40px;
	display: inline-block;
}

.top-content .search-btn{
	position: absolute;
	background:black;
	height:40px;
	width:40px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	vertical-align: middle;
	top:0px;
	right:0px;

}
.top-content .search-btn img{
	width:18px;
	margin-top:11px;
}

.words {
	text-align: right;
	padding-right: 300px;
	color: lightgrey;
	font-size: 0.
}

.shop-main-second {
	
}

/*
Sub Nav
*/
.secondary-nav{
	height:55px;
	line-height:55px;
}
.product-nav ul{
	font-size:0;
}
.product-nav li{
	width:16%;
	text-align:center;
	display: inline-block;
	font-size:1.5rem;
	font-weight:200;
}
.product-nav li a:hover{
	color:black;
	border:none;
	font-weight:400;
	cursor:pointer;
	cursor:hand;
	text-decoration: none;
}
.product-nav li.focus > a{
	
	color:#ff5521;
	font-weight:400;
	border-bottom:2px solid black;
	padding:4px 6px;
}


/*
Product view
*/
/*.product-display {
	margin: 0px 15px;
}*/

.product-view{
	background: whitesmoke;
	padding:20px 0px;
	margin: 0px 15px;
}

.bannerheader {
	font-family: 'Avant Garde', sans-serif;
	color: black;
	text-align: center;
}

.product-view .product-card{
	width:100%;
	background:white;
	font-size:1.5rem;
	text-align:center;
	position: relative;
	margin: 15px;
}

#product-card .product-buy{
	position: absolute;
	background-color: #000000;
	border-radius:100%;
	color: #ff6d37;
	height:30px;
	width:30px;
	top:10px;
	right:10px;
}

#product-card .product-buy:hover .fa{
	color:black;
	cursor: pointer;
	cursor:hand;
}
#product-card .product-img{
	width:100%;
	height:200px;
}

#product-card .product-info{
	padding:10px 0px;
	letter-spacing: 0.05rem;
}

#product-card .product-name{
	font-weight:600;
}

#product-card .product-brand{
	font-style:italic;
	font-weight:200;
	font-size:1.2rem;
	margin-top: 20px;
}

#product-card .product-cost{
	color:#ff6d37;
	font-weight:500;
	margin:10px 0px;
}


.searchbutton {
	border: solid 1px black;
	margin-left: 10px;
	height: 30px;
	padding-left: 5px;
}


.button {
	text-align: center;
}

.product-image {
	max-height: 400px;
  	max-width: 350px;
  	margin: 0px 100px;
  }

.searchresult {
	padding-left: 100px;
	padding-bottom: 50px;
	font-family: 'Tahoma', 'sans-serif'!important;
	color: #3F3C3A !important;

}

/*RESPONSIVE VIDEO */

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 50px;

}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.select{
   background: #f0ad4e;
   border-color: #eea236;
   color: white;
   width: 100px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   border: 2px;
   border-radius: 10px;
   height: 34px;
   display: inline-block;
   vertical-align: middle;
   }

.text-center {
	padding: 0px;
	margin: 30px 0px 50px 0px;
}

#product-details {
	background-color: #7cace3;
}

.button {
	margin-top: 250px;
}

/*Filler Area*/

.filler {
	font-family: 'Verdana', 'sans-serif';
	text-align: center;
	padding: 80px 0;
}




/*Bottom content*/

.bott-content{
	width:100%;
	height:400px;
	margin-bottom: 100px;
	background:url('http://67.media.tumblr.com/318dad67612502017bc1c694fc5f0bca/tumblr_my6c56q0hC1qdxg8qo1_1280.jpg');
	background-position:center center;
	text-align: center;
	background-repeat: no-repeat;
	z-index: 9999;
	background-size: 100%;
}

.black {
	background-color: transparent;
	border-color: transparent;
	font-family: 'Verdana', 'sans-serif';
	font-size: 5rem;
	margin-top: 130px;

}

@font-face {
    font-family: myFirstFont;
    src: local('../../../Adam.otf');
}



.inspire {
	width: 100%
}

.insta1 p{
	padding-top: 200px;
}

.insta2 {
	background-image: url('http://41.media.tumblr.com/9b6a8ed35e02c77819eab9d827f4477c/tumblr_o161bxKKVS1v4obbzo1_1280.jpg');
	width: 100%;
	height: 400px;
	background-position:center center;
	text-align: center;
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
}

.insta3 {
	background-image: url('http://66.media.tumblr.com/6b0b4791221b15b4aec8c2d4cf1bbec5/tumblr_nq7747zDZZ1t2fv4eo1_1280.jpg');
	width: 100%;
	height: 400px;
	background-position:center center;
	text-align: center;
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
}

.insta4 {
	background-image: url('https://ca.billabong.com/media/transfer/img/unknown_1_4_2.jpeg');
	width: 100%;
	height: 400px;
	background-position:center center;
	text-align: center;
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
}
.insta5 {
	background-image: url('http://65.media.tumblr.com/tumblr_ljka6zsD5k1qekcmoo1_1280.jpg');
	width: 100%;
	height: 400px;
	background-position:center center;
	text-align: center;
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
}

.insta-overlay {
	background-color: rgba(0,0,0,0.25);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}


.insta-overlay h2{
	margin-top: 200px;
	color: #CDD9DF; 
	font-family: 'Avant Garde', 'sans-serif'; 
}

.insta-overlay:hover{
	opacity: 1;
}


